<ion-header>

  <ion-navbar color = 'primary'>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-refresher (ionRefresh) = 'refreshAll($event)' >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class = 'noPadding'>
    <ion-card-content class="noPadding">
      <ion-row>

        <ion-col col-5>          <!-- <h2>Recored {{teamStanding.wins}}--{{teamStanding.losses}}</h2> -->
          <p>Record</p>
          <p class="xxSmall">Coach : {{team.coach}}</p>
        </ion-col>

        <ion-col col-7>
          <button outline ion-button icon-let *ngIf = '!isFavourite' (click) = 'toggleFavourite()'>
            <ion-icon name ='star'></ion-icon>
            Add Favourite
          </button>
          <button ion-button icon-let *ngIf = 'isFavourite' (click) = 'toggleFavourite()' text-right>
              <ion-icon name ='star'></ion-icon>
            </button>
        </ion-col>
      </ion-row>
      
      <ion-item>
        <ion-label>Date Filter:</ion-label>
        <ion-toggle [(ngModel)] = 'useDateFilter' (ionChange) = 'dateChanged()'></ion-toggle>
        <ion-datetime displayFormat = 'M/D/YYYY' pickerFormat = 'M/D/YYYY' [(disabled)] = '!useDateFilter'
        [(ngModel)] = 'dateFilter' (ionChange) = 'dateChanged()'></ion-datetime>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-list full>
    <ion-item *ngFor = 'let game of games'>
        <ion-row >
            <ion-col col-3>
              <p class = 'small'>{{game.time | date : 'M/d/yy'}}</p>
              <p class = 'xxSmall' >{{game.time | date : 'shortTime'}}</p>
            </ion-col>
            <ion-col col-7>
                <p class = 'small'>{{game.homeAway}} {{game.opponent}}</p>
                <p class='xxSmall'>{{game.location}}</p>
            </ion-col>
              <ion-col col-2 >
                <ion-badge [color] = 'gameResultColor(game)' >{{getScoreWorL(game)}}</ion-badge>
                <p class="xxSmall">{{game.scoreDisplay}}<p>
              </ion-col>
          </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
