
<ion-header>

  <ion-navbar color = 'primary'>
    <ion-title>Teams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-toolbar>
    <ion-searchbar placeholder = 'Search Team' [(ngModel)] = 'queryText'
    (ionInput) = 'filterTeams()'></ion-searchbar>
  </ion-toolbar>
   <ion-list>
     <ion-item-group *ngFor = 'let division of teams'>
       <ion-item-divider color ='secondary'>{{division.divisionName}}</ion-item-divider>
       <button ion-item *ngFor = 'let team of division.divisionTeam' (click) ='itemTapped(team)'>
         {{team.name}}
       </button>
     </ion-item-group>
   </ion-list>
</ion-content>
